<template>
    <div class="playground">
        <p>Route param: {{$route.params.id}}</p>
        <button @click="goHome">Go Home</button>
        <button :class="greeting" v-on:click="changeTitle">Change</button>
        <img src="../../../assets/cat.jpg">
        <input type="text" v-on:input="inputGreeting">
        <p v-cloak>{{greeting | uppercase}}</p>
        <h2 v-cloak v-if="counter > 8">Couter: {{counter}}</h2>
        <h2 v-else>Counter is less or equal to 8</h2>
        <h2 v-cloak>Clicks: {{clicks}} </h2>
        <button v-on:click="increment">Increment</button>
        <ul>
            <li v-for="(person, index) in persons" :key="index">{{index + 1}} - name: {{person.name}} / age: {{person.age}}</li>
        </ul>
        <p>Mature persons:</p>
        <ul>
            <li v-for="(person, index) in maturePersons" :key="index">{{index + 1}} - name: {{person.name}} / age: {{person.age}}</li>
        </ul>
        <button @click="addUser(40)">Add User</button>
        <p>In parent: {{message}}</p>
        <child></child>
    </div>
</template>

<script>
import Child from './components/Child/Child';
import { mapGetters } from 'vuex';

export default {
    data: function () {
        return {}
    },
    components: {
        child: Child
    },
    methods: {
        changeTitle() {
            this.$store.commit({
                type: 'changeGreeting',
                value: 'Lalala'
            });
        },
        inputGreeting(event) {
            this.$store.commit({
                type: 'changeGreeting',
                value: event.target.value
            });
        },
        increment() {
            this.$store.commit({
                type: 'increment',
                amount: 1
            });
        },
        goHome() {
            this.$router.push('/');
        },
        addUser(age) {
            this.$store.dispatch({
                type: 'addUser',
                age: age
            });
        }
    },
    computed: {
        counter() {
            return this.clicks * 2;
        },
        ...mapGetters(['persons', 'personId', 'clicks', 'greeting', 'message', 'maturePersons'])
    },
    watch: {
        '$route'(to, from) {
            console.dir(to);
            console.dir(from);
        }
    }
}
</script>

<style scoped>
div {
    background: lightblue;
}
</style>

