<template>
    <div>
        <navbar></navbar>
        <router-view></router-view>
    </div>
</template>

<script>
import Navbar from "./components/Navbar/Navbar";

export default {
    components: {
        navbar: Navbar
    }
}
</script>
